resources/A_AssetMasterFixedAsset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_AssetMasterFixedAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CompanyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="MasterFixedAsset" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="FixedAsset" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetCapitalizationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetCreationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetDeactivationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetIsMarkedForDeletion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetLifeInYears" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetLifeInPeriods" type="xs:integer" minOccurs="0" maxOccurs="1"/>
        <xs:element name="FixedAssetDepreciationArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PlantSection" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="WBSElement" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BusinessArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="InvestmentOrderInternalID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetClass" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ChartOfDepreciation" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AssetSerialNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Location" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Room" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="to_AssetDepreciation" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompanyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="MasterFixedAsset" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="FixedAsset" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DepreciationArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DepreciationKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PlannedUsefulLifeInYears" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
