resources/A_Bank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_Bank">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BankCountry" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankInternalID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LongBankName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankAddress" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankStreetName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankCityName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankRegion" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankPostalCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankBranchName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IBAN" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SWIFTCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IsMarkedForDeletion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankControlKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BankGrouping" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LastChangeDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
