resources/A_Contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_Contract">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchasingDocument" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchasingDocumentType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CompanyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchasingOrganization" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchasingGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Supplier" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DocumentCurrency" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ValidityStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ValidityEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IncotermsClassification" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PaymentTerms" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TargetAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="OverallLimit" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ReleaseCreationProfile" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IncotermsLocation1" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PlantBasedInvoiceVerif" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchaseContractStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LastChangeDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="to_PurchasingContractItem" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PurchasingDocument" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PurchasingDocumentItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Material" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TargetQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="BaseUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NetPriceAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="MaterialGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
