resources/A_CostCenter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_CostCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CostCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ControllingArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ValidityEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ValidityStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCenterCurrency" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CompanyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BusinessArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCtrHierarchyGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ProfitCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Department" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCenterCategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IsBlockedForPrimaryPostings" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IsBlockedForSecondaryPostings" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCenterStandardHierarchy" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCenterName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCenterDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ResponsiblePersonName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="FunctionalArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="to_CostCenterText" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CostCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ControllingArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CostCenterName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CostCenterDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
