resources/A_EmployeeTime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_EmployeeTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PersonWorkAgreement" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TimeSheetRecord" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CompanyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ControllingArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="WBSElement" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AbsenceAttendanceType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CalendarDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TimeSheetOvertimeCategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="RecordedHours" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="RecordedQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TimeSheetStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TimeSheetApprovalStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="RejectionReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Employee" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ActivityType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ServiceOrder" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ServiceOrderOperation" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ManufacturingOrder" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LastChangeDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
