resources/A_ProductionOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_ProductionOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ManufacturingOrder" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ManufacturingOrderType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ManufacturingOrderStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="MRPController" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ProductionVersion" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Material" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TotalQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="OrderStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="OrderEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BasicSchedulingType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ProductionOrderIsFinallyDelivered" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PlannedOrderType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="StorageLocation" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BillOfOperationsType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ManufacturingOrderCategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ConfirmedYieldQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BaseUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PlanningPlant" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BatchNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LastChangeDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="to_ProductionOrderComponent" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ManufacturingOrder" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ManufacturingOrderItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Material" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="RequiredQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="BaseUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="StorageLocation" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="RequirementDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="IssuedQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="BatchNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_ProductionOrderOperation" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ManufacturingOrder" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="OperationNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="WorkCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="OperationText" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PlannedWorkQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
