resources/A_PurchaseOrderScheduleLine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_PurchaseOrderScheduleLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchaseOrder" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchaseOrderItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ScheduleLine" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DeliveryDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ScheduledQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DeliveredQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="OpenQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchaseOrderQuantityUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ToBePurgedIndicator" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="GoodsReceiptQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="GoodsReceiptReturnedQty" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BillOfLading" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ConfirmedQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="StatisticsRelevantDeliveryDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PreviousDeliveryDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ScheduleLineDeliveryDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LastChangeDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
