resources/A_PurchaseRequisition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_PurchaseRequisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PurchaseRequisition" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchaseRequisitionType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchaseRequisitionStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Material" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="StorageLocation" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchasingOrganization" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchasingGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="RequestedQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BaseUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DeliveryDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="MaterialGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchaseRequisitionPrice" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PriceUnit" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="RequisitionerName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="AccountAssignmentCategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Supplier" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchasingDocument" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchasingDocumentItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ShortText" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LastChangeDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="to_PurchaseRequisitionItem" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PurchaseRequisition" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PurchaseRequisitionItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Material" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="RequestedQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="BaseUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DeliveryDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AccountAssignmentCategory" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="MaterialGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PurchaseRequisitionPrice" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
