resources/A_SalesQuotation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_SalesQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SalesQuotation" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SalesQuotationType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SalesOrganization" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DistributionChannel" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="OrganizationDivision" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SoldToParty" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PurchaseOrderByCustomer" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="QuotationValidityStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="QuotationValidityEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TransactionCurrency" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="TotalNetAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ShippingCondition" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="DeliveryBlockReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="BillingDocumentType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PaymentTerms" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IncotermsClassification" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SalesGroup" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="SalesOffice" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="LastChangeDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="to_SalesQuotationItem" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SalesQuotation" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="SalesQuotationItem" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Material" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="RequestedQuantity" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="SalesUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NetAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
