resources/A_WorkCenter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="A_WorkCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="WorkCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="WorkCenterTypeCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="WorkCenterInternalID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="WorkCenterCategoryCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="WorkCenterText" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Person" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="UserId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CapacityCategoryCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ValidityStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ValidityEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        <xs:element name="IsDeleted" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="WorkCenterIsMachineWorkCenter" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="StandardWorkFormulaParameterValue" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
        <xs:element name="StandardWorkFormulaParamValueUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="CostCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ControllingArea" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="ActivityType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="to_WorkCenterCapacity" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="WorkCenter" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Plant" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CapacityCategoryCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CapacityInternalID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CapacityAvailability" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CapacityAvailabilityUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
