resources/DIRDEB01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="DIRDEB01">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="IDOC" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="EDI_DC40" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TABNAM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DOCNUM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IDOCTYP" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MESTYP" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SNDPOR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SNDPRN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RCVPOR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RCVPRN" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="E1EDK01" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CURCY" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WKURS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ZTERM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="KUNDEUINR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BELNR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NTGEW" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="FKTYP" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="E1EDKA1" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="PARVW" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PARTN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NAME1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STRAS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ORT01" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PSTLZ" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LAND1" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BANKS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BANKL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BANKN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IBAN" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="E1EDKT1" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TDID" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TSSPRAS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="TDLINE" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="E1EDP01" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="POSEX" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MATNR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MENGE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MENEE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WERKS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="NETWR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MWSBT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ARKTX" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
