resources/RDEPOT101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RDEPOT101">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="IDOC" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="EDI_DC40" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TABNAM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DOCNUM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IDOCTYP" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MESTYP" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SNDPOR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SNDPRN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RCVPOR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RCVPRN" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="E1RDEPOT1_HDR" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MATNR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WERKS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LGORT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BESTVOR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="STRGR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PABGD" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PABGA" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MANDT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MEINS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="KLABS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="KEINM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="KSPEM" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="E1RDEPOT1_BATCH" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CHARG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ZAEHL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="REDIT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VFDAT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CLABS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CEINM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CSPEM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CUMLZ" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CEINZ" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EINME" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LGORT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="HERKU" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LICHA" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
