resources/WMMBXY01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="WMMBXY01">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="IDOC" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="EDI_DC40" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="TABNAM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DOCNUM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="IDOCTYP" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MESTYP" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SNDPOR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SNDPRT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SNDPRN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RCVPOR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RCVPRT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="RCVPRN" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="E1WMB_MKPF" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="MBLNR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MJAHR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BUDAT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CPUDT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="USNAM" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BKTXT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BLDAT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="VGART" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="XBLNR" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="E1WMB_MSEG" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ZEILE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MATNR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WERKS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LGORT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="BWART" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MENGE" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="MEINS" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CHARG" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="LIFNR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="KUNNR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AUFNR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="KDAUF" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EBELN" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="EBELP" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="SGTXT" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="KOSTL" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="PRCTR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DMBTR" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="WAERS" type="xsd:string" minOccurs="0"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
